<br><br><br><br><br><br><br><br>
<div style="text-align: center;">
  <%= image_tag 'ok' %>
  <br><br><br><br>
  <h1>Order Successful!</h1>
  <br><br>
  <a href="/home/order_list" class="btn">Go my orders</a>
</div>